<div class="jumbotron">
  <h1>Kissan World</h1>
  <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms
    of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;
    and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through
    shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.</p>
</div>


<div class="page">
  <div class="container">
    <div class="row">

      <div class=" col-md-9">
        <h2>
          What is Lorem Ipsum? Lorem
        </h2>
        What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
        Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h2 class="head_2 text-center">
          <span>Loren Ipsum 1</span>
        </h2>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <img class=" " src="../../assets/Images/images3.png" width="140" height="140">
          </div>
          <div class="col-sm-8">
            <h2>Happy</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
              ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <img class=" " src="../../assets/Images/images2.jpg" alt="Generic placeholder image"
              width="140" height="140">
          </div>
          <div class="col-sm-8">
            <h2>Happyness</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
              ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

          </div>
        </div>

      </div>
      <div class=" col-md-3">
        <app-detailform></app-detailform>
        <br>
        <br>
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Noida Sector 15 Metro&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>webdesign
            <a href="https://www.pureblack.de/webdesign-muenchen/">pure black</a>
          </div>
          <style>
            .mapouter {
              overflow: hidden;
              height: 300px;
              width: 300px;
            }
        
            .gmap_canvas {
              background: none!important;
              height: 500px;
              width: 600px;
            }
          </style>
        </div>
        <!-- <app-mapsitegrate ></app-mapsitegrate> -->
      </div>
    </div>
    <div class="row margin-top-40">
      <div class=" col-md-12 text-center">
        <h2 class="head_2">
          <span>Heading 1</span>
        </h2>

      </div>


      <div class="col-sm-4">
        <img class=" " src="../../assets/Images/images2.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2><a routerLink='about'>Recent News</a></h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut
          id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>

      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <img class=" " src="../../assets/Images/images2.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2><a routerLink='contact'>India</a></h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
          purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>

      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-4">
        <img class=" " src="../../assets/Images/images2.jpg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Delhi</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
          euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus.
        </p>

      </div>
    </div>

  </div>

</div>